<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ asset('js/BurgerHandler.js') }}"></script>
    <title>{% block title %}| Discord Bots Panel{% endblock %}</title>
</head>
<header>
    {% include 'components/navbar.html.twig' %}
</header>
<body>
{% block body %}
    <p>{{ 'Hello'|trans }}</p>
{% endblock %}
</body>
</html>
