<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset('js/BurgerHandler.js') }}"></script>
    <title></title>
</head>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="{{ asset('images/Discord-Logo-Black.svg') }}" width="112" height="28" alt="Website's logo">
            </a>

            <a role="button" id="navbarBurger" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    {% trans %} Home {% endtrans %}
                </a>

                <a class="navbar-item">
                    {% trans %} Bots {% endtrans %}
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {% trans %} More {% endtrans %}
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            {% trans %} GitHub {% endtrans %}
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>{% trans %} Sign up {% endtrans %}</strong>
                        </a>
                        <a class="button is-light">
                            <strong>{% trans %} Sign in {% endtrans %}</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>