<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset('js/BurgerHandler.js') }}"></script>
    <title></title>
</head>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('homepage') }}">
                <img src="https://fr.wikipedia.org/wiki/Discord_(logiciel)#/media/Fichier:Discord.svg"
                     alt="Website's logo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBurger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarContent">
            <div class="navbar-start">
                <a class="navbar-item">
                    {% trans %} Bots {% endtrans %}
                </a>
                <a class="navbar-item">
                    {% trans %} Help {% endtrans %}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Github
                    </a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="buttons is-primary">
                            <strong>{% trans %} Log in {% endtrans %}</strong>
                        </a>
                    </div>
                    <div class="buttons">
                        <a class="buttons is-primary">
                            <strong>{% trans %} Register {% endtrans %}</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>