<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title></title>
</head>
<body>
    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">

            </div></li>
        <li><a href="#"><i class="material-icons">home</i>Home</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#">Paramètres</a></li>
    </ul>
</body>
</html>